html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
}

:root {
  --main-bg-color: #5500ff;
  --secondary-color: #0055ff;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.25rem;
  }
  .overlay .closebtn {
    font-size: 2.25rem;
    top: 1em;
    right: 2em;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  header {
    padding: 1em;
    text-align: right;
    background-color: var(--main-bg-color);
  }

  /* hamburger menu */
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1em;
  }

  .overlay a {
    padding: 0.2em;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0.2em;
    right: 0.25em;
    font-size: 4rem;
  }

  .hero-text {
    text-align: center;
    color: white;
  }

  .hero-paragraph {
    padding: 1em;
    font-size: 1.25rem;
    opacity: 0.9;
  }

  button > a {
    text-decoration: none;
    color: white;
  }

  .hero-container {
    background-color: var(--main-bg-color);
    padding: 1em;
  }

  .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .wave-bottom .shape-fill {
    fill: #ffffff;
  }

  .wave-bottom svg {
    width: calc(100% + 1.3px);
    height: 50px;
  }
  .wrapper {
    position: relative;
  }

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .wave-top .shape-fill {
    fill: white;
  }

  .wave-top svg {
    width: calc(100% + 1.3px);
    height: 75px;
  }

  .main-container {
    background-color: var(--secondary-color);
    color: white;
  }

  #features {
    text-align: center;
    color: white;
    padding: 2em;
  }

  .main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
  }

  .custom-shape-divider-bottom-1642682310 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1642682310 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-bottom-1642682310 .shape-fill {
    fill: #ffffff;
  }

  .custom-shape-divider-bottom-1642682310 svg {
    width: calc(100% + 1.3px);
    height: 200px;
  }

  .spacer-bottom {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/wave-haikei.svg);
  }

  .spacer-top-purple {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/col-wave.svg);
  }

  .spacer-top-blue {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/spacer-top-blue.svg);
  }

  .spacer-top-purple {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/spacer-top-purple.svg);
  }

  .spacer-top-purple-features {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/spacer-top-purple-features.svg);
  }

  #about-us {
    text-align: center;
    color: white;
  }

  .about-us-container {
    background-color: var(--main-bg-color);
  }

  .about-us-paragraph {
    color: white;
    text-align: center;
    opacity: 0.85;
    padding: 2em;
  }

  #contact {
    color: white;
    text-align: center;
    background-color: var(--secondary-color);
  }

  .contactspacer {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/col-wave.svg);
  }

  .contact-container {
    background-color: var(--secondary-color);
    text-align: left;
    color: white;
  }

  form {
    background-color: var(--main-bg-color);
    padding: 1em;
    font-size: 1.1rem;
  }

  #name,
  #email,
  #subject,
  #description {
    border-radius: 0.5em;
  }

  #contact-subtext {
    text-align: center;
  }

  .submit {
    padding: 0.25em 1em;
    border-radius: 0.5em;
  }
  .spacer-bottom-footer {
    aspect-ratio: 900/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/workout-website/spacer-top-footer.svg);
  }

  footer {
    background-color: var(--secondary-color);
  }

  footer > nav {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
  }

  footer > nav > a {
    color: white;
    text-decoration: none;
  }
}
